body{
    padding: 0;
    margin: 0;
    background-color: aqua;
}
h1{
    text-align: center;
    padding-top: 90px;
}
form{
    text-align: center;
    display: inline-block;
    padding: 20px 80px;
    background-color: rgb(13, 227, 238);
    border-radius: 10px;
}

input[type=text]{
    text-align: center;
    padding: 5px;
    margin:5px 30px;
    border-radius: 5px;
    color:white;
    background-color: black;
    font-weight: bold;

}
input:hover{
    color:black;
    background-color:white;
    font-weight: bold;
   
}
div{
    text-align: center;
    padding-top: 50px;

}
button{
    margin-top: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 5px;
}
button:hover{
    margin-top: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: white;
    color:black;
    border-radius: 5px;
}
footer{
    text-align: center;
    color: white;
    margin-top: 100px;
    height: 200px;
    background-color: black;
    padding-top: 30px;
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: blue;
}


@media only screen and(max-width:600px)
{
body{
    padding: 0;
    margin: 0;
    background-color: aqua;
}
h1{
    text-align: center;
    padding-top: 90px;
}
form{
    text-align: center;
    display: inline-block;
    padding: 20px 80px;
    background-color: rgb(13, 227, 238);
    border-radius: 10px;
}

input[type=text]{
    text-align: center;
    padding: 5px;
    margin:5px 30px;
    border-radius: 5px;
    color:white;
    background-color: black;
    font-weight: bold;

}
input:hover{
    color:black;
    background-color:white;
    font-weight: bold;
   
}
div{
    text-align: center;
    padding-top: 50px;

}
button{
    margin-top: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 5px;
}
button:hover{
    margin-top: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: white;
    color:black;
    border-radius: 5px;
}
footer{
    text-align: center;
    color: white;
    margin-top: 100px;
    height: 200px;
    background-color: black;
    padding-top: 30px;
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: blue;
}
}